@tailwind base;
@tailwind components;
@tailwind utilities;


.box {  
    scrollbar-color: #2563EB #1E3A8A;
    -moz-transition: scrollbar-color 0.5s ease-in;
    -o-transition: scrollbar-color 0.5s ease-in;
    -webkit-transition: scrollbar-color 0.5s ease-in;
    transition: scrollbar-color 0.5s ease-in;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  .visible-scroll::-webkit-scrollbar-track {
    background: #1E3A8A;
  }
  
  .visible-scroll::-webkit-scrollbar-thumb {
    background-color: #2563EB;
    border-radius: 12px;    
    border: 0px;
  }
  
  .faded-scroll::-webkit-scrollbar-track {
    background-color: rgba(20, 20, 20, 0);
    transition: all 2s ease-in;
  }
  
  .faded-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(20, 20, 20, 0);
    border-radius: 20px;
    border: 0px;
  }
  